name: 420 CI

on:
  pull_request:
    branches: [ 'master' ]

jobs:
  test_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Docker
        run: |
          cd ./laradock-420/
          docker-compose up -d

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run test suite
        run: phpunit
